{% extends 'worker/worker_dashboard.html' %}
{% block content %}
<table class="table table-hover">
    <tr>
        <th>Date</th>
        <th>Time</th>
        <th colspan="2"></th>
    </tr>
    {% for i in data %}
    <tr>
        <td>{{i.date}}</td>
        <td>{{i.time}}</td>
         <td>
             <a href="{% url 'update_availability' i.id %}"><button class="btn btn-primary">Update</button></a>
             <a href="{% url 'delete_availability' i.id %}"><button class="btn btn-danger">Delete</button></a>
         </td>
    </tr>
    {% endfor %}
</table>
{% endblock %}