{% extends 'worker/worker_dashboard.html' %}
{% block content %}
<div class="card col-sm-12 col-xl-12">
 <div class="d-flex align-items-center justify-content-between m-2">

        <!-- Back Button -->
        <a href="{% url 'worker_completed_works' %}"
           class="btn btn-outline-primary btn-sm rounded-pill px-3 shadow-sm  no-print">
            <i class="fa fa-arrow-left me-1"></i> Back
        </a>

        <!-- Download Button -->
        <a href="#"
           onclick="window.print()"
           class="btn btn-success btn-sm rounded-pill px-3 shadow-sm  no-print">
            <i class="fa fa-download me-1"></i> Download
        </a>
    </div>
  <div class="card-body">
    <h5 class="card-title">Payment Details</h5>
    <table class="table table-striped text-start">
      <tr>
        <th>Payment Date</th>
        <td>{{data.date}}</td>
      </tr>
      <tr>
        <th>Name</th>
        <td>{{data.user.name}}</td>
      </tr>
      <tr>
        <th>Woker Name</th>
        <td>{{data.worker.name}}</td>
      </tr>
      <tr>
        <th>Category</th>
        <td>{{data.worker.category}}</td>
      </tr>
       <tr>
        <th>Booking Date</th>
        <td>{{data.booking.availability.date}}</td>
      </tr>
       <tr>
        <th>Booking Time</th>
        <td>{{data.booking.availability.time}}</td>
      </tr>
      <tr>
        <th>Payment method</th>
        <td>{{data.payment_method}}</td>
      </tr>
      <tr>
        <th>Amount</th>
        <td><i class="fa-solid fa-dollar-sign"></i>{{data.worker.payment}}</td>
      </tr>
    </table>
  </div>
</div>
{% endblock %}