<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <style>
        body{
           background-image:url("static/img/loginregistration.jpg");
           background-size:1500px 1500px;
           background-repeat:no-repeat;
        }
        .card{
           position:absolute;
           right:0;
        }

    </style>
</head>
<body>
<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
    <a href=" {% static 'index.html' %} " class="navbar-brand d-flex d-lg-none me-4">
        <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
    </a>
    <a href="#" class="sidebar-toggler flex-shrink-0">
        <i class="fa fa-bars"></i>
    </a>
    <a href=" {% static 'index.html' %} " class="navbar-brand mx-4 mb-3">
        <h3 class="text-primary mt-3">APEX</h3>
    </a>
    <div class="navbar-nav align-items-center ms-auto">
        <div class="navbar-nav ms-auto py-3 py-lg-0">
            <a href="{% url 'main_view' %}" class="nav-item nav-link active">Home</a>
        </div>
    </div>
</nav>



<div class="card w-50 mt-5 mx-5" style="width: 18rem;">
  <div class="card-body">
    <h5 class="card-title">Worker Registration</h5>
      <form method="post" enctype="multipart/form-data">
          {% csrf_token %}
          {{login_form|crispy}}
          {{worker_form|crispy}}
          <button class="btn btn-primary">Submit</button>
      </form>
  </div>
</div>
 <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>